body{
  background-image: url("https://openclipart.org/image/2400px/svg_to_png/218125/3d-Earth-Globe.png");
}
h1{
  color: white;
  font-size: 100px;
  position: absolute;
  left: 40%;
  top: 25%;
}
p{
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
}
